@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  color: var(--primary-white);
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--third-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--third-purple);
}

:root {
  --primary-black: #000;
  --secund-black: #111111;
  --third-black: #272727;
  --primary-white: #ffff;
  --secund-white: #ffffffea;
  --third-white: #c7c7c7;
  --primary-purple: #8039f1;
  --secund-purple: #6d1af3;
  --third-purple: #a01aee;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: 20px;
  font-family: "Comfortaa", cursive;
  background: linear-gradient(to bottom, var(--third-black), var(--primary-black));
}

.portifolio {
  font-family: "Russo One", sans-serif;
  background: linear-gradient(150deg, #b68df8, #c81af3, #4802b8, #ae83f5);
  background-size: 400% 100%;
  animation: deg 8s linear infinite alternate;
  font-family: "Russo One", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portifolio h2 {
  letter-spacing: 20px;
  font-size: 33px;
}

@keyframes deg {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position: 400%;
  }
}
span {
  color: var(--third-purple);
}

nav .menu-mobile {
  width: 80px;
  height: 80px;
  z-index: 99;
  background-color: red;
}

.btn {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 25px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  border: 3px solid #e7adf8;
  border-left: transparent;
  border-right: transparent;
  font-family: "Russo One", sans-serif;
}

.btn a {
  text-decoration: none;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 15px;
  transition: all 0.7s ease;
  background-color: var(--third-purple);
}

.btn1::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaley(0);
  transform-origin: bottom;
  transition: transform 250ms ease-in;
}

.btn1:hover::before {
  transform: scaley(1);
  transform-origin: top;
}

.btn2::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.btn2:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.btn3::before {
  width: 0;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn3:hover::before {
  width: 100%;
}

.btn4::before {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-55deg);
}

.btn4:hover::before {
  height: 375%;
}

.btn5::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaley(0);
  transform-origin: top;
  transition: transform 250ms ease-in;
}

.btn5:hover::before {
  transform: scaley(1);
  transform-origin: bottom;
}

ul:has(li:hover) li:not(:hover) {
  scale: 0.9;
}

.container {
  display: flex;
  max-width: 1440px;
  margin: 0px auto;
  padding: 22px 30px;
  font-family: "Comfortaa", cursive;
  justify-content: space-between;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.banner-title {
  flex: 2;
}

.banner-title h1 {
  margin-top: -120px;
  font-size: 40px;
}

.banner-title h3 {
  width: 40ch;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
  font-size: 15px;
  border-right: 4px solid;
  letter-spacing: 10px;
  animation: typing 6s steps(40) infinite, blinking 0.5s infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blinking {
  50% {
    border-color: transparent;
  }
}
.banner-bg {
  flex: 1;
}

.banner-bg img {
  width: 900px;
}

.about {
  width: 100vw;
  padding: 100px;
  padding: 200px 0;
  background-color: var(--primary-black);
}

.about-img {
  flex: 1;
}

.about-img img {
  border-radius: 30px;
  box-shadow: 5px 13px 8px 3px var(--secund-purple);
}

.about-img img:hover {
  transition: 1s ease-in-out;
  scale: 1.05;
}

.about-description {
  flex: 1;
}

.about-description h1 {
  font-size: 53px;
  letter-spacing: 3px;
}

.about-description p {
  max-width: auto;
  margin-top: 30px;
  margin-bottom: 150px;
  text-align: justify;
  line-height: 40px;
}

.about-description i {
  font-weight: bold;
}

.about-description button {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 30px;
  letter-spacing: 5px;
  color: var(--primary-white);
  background: linear-gradient(150deg, #b68df8, #c81af3, #4802b8, #ae83f5);
  background-size: 400% 100%;
  animation: deg 8s linear infinite alternate;
}

.about-description button:hover {
  animation: button 0.6s linear infinite alternate;
}

@keyframes button {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
#skills {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.about-skills {
  display: flex;
  align-items: center;
  margin-left: -220px;
  margin-top: 150px;
  padding-left: 50px;
  gap: 10px;
}

.about-skills-rash {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.about-skills-rash h2 {
  font-size: 43px;
  color: #b999ec;
}

.about-skills-rash .rash {
  width: 75px;
}

.about-skills img {
  width: 90px;
}

.about-skills-logo {
  display: flex;
  gap: 40px;
  padding-left: 75px;
}

.about-skills-logo .logo {
  transform: scale(1);
  transition: all 1s;
  cursor: pointer;
}

.about-skills-logo .logo:hover {
  transform: scale(1.2);
  rotate: 360deg;
}

.project-section {
  width: 100vw;
  background: linear-gradient(to bottom, var(--primary-black), var(--secund-white));
}

.project-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-area h2 {
  letter-spacing: 3px;
  margin-top: 6rem;
  font-size: 2.7rem;
}

.project-slider {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  padding: 80px;
  overflow: hidden;
}

.card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 550px;
  width: 100%;
  max-width: 500px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  background-color: var(--third-black);
  box-shadow: 1px 1px 3px 1px #e0dede;
}

.card img {
  width: 85px;
  margin-top: 1rem;
}

.card .awax-site {
  width: 160px;
}

.card h2 {
  margin: 1rem;
  font-size: 30px;
  text-align: center;
}

.card-description {
  display: grid;
  place-items: center;
  margin: 1rem;
  padding: 1rem;
  text-align: justify;
  overflow: hidden;
  overflow-y: scroll;
}

.card-description::-webkit-scrollbar-thumb {
  display: none;
  width: 1px;
  background-color: #f093e8;
  border-radius: 40px;
}

.card-description:hover::-webkit-scrollbar-thumb {
  display: flex;
}

.card-description p {
  text-align: justify;
  line-height: 30px;
  color: var(--third-white);
}

.card-btn a {
  text-decoration: none;
}

.card-btn {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 30px;
  letter-spacing: 5px;
  color: var(--primary-white);
  background: linear-gradient(150deg, #b68df8, #c81af3, #4802b8, #ae83f5);
  background-size: 400% 100%;
  animation: deg 8s linear infinite alternate;
}

footer {
  width: 100%;
  height: 40px;
}

.footer-wpp {
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 99;
}

.btn-wpp {
  transition: transform 0.5s ease;
  width: 70px;
}

.btn-wpp:hover {
  transform: scale(1.2);
}

.tool-tip {
  top: 0;
  left: -170px;
  visibility: hidden;
  position: absolute;
  font-family: "Comfortaa";
  color: rgb(6, 255, 193);
  opacity: 0;
  transition: opacity 2s;
}

.footer-wpp:hover .tool-tip {
  visibility: visible;
  opacity: 1;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -100px;
}

.footer-contact-title h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 100px;
  color: var(--primary-black);
}

.footer-contact-img {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.footer-contact img {
  width: 80px;
  border-radius: 30%;
}

.fotter-copyright {
  width: 100%;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "Trebuchet MS";
  color: var(--primary-black);
}

.copy {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .container nav {
    visibility: hidden;
  }
  .container .portifolio h2 {
    margin-top: 50px;
    font-size: 27px;
    text-align: center;
    justify-content: center;
  }
  .container .banner-title h1 {
    margin-top: -170px;
    font-size: 32px;
  }
  .container .banner-title h3 {
    letter-spacing: 4px;
    font-size: 13px;
  }
  .container .banner-bg {
    margin-right: 100px;
    justify-content: center;
    text-align: center;
  }
  .container .banner-bg img {
    width: 500px;
  }
  .container .about-img {
    width: 100%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  .container .about-img img {
    max-width: 280px;
  }
  .container .about-description {
    width: 100%;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
  }
  .container .about-description h1 {
    font-size: 34px;
  }
}/*# sourceMappingURL=style.css.map */