@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: white;
}
:root{
    --primary-color:#0f0f0f;
    --secund-black:#191919;


    --default-purple: #8039f1;
}

header{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--secund-black);
}
h2{
    font-size: 30px;
}
span{
    color: var(--default-purple);
}
li{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 15px;
}
li:hover{
    background-color: var(--default-purple);
}
ul:has(li:hover) li:not(:hover){
    transition: .9s;
    opacity: .3;
    scale: .9;
}

li a{
    text-decoration: none;
}

.container{
    display: flex;
    max-width: 1440px;
    margin: 0px auto;
    padding: 35px 50px;
    justify-content: space-between;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.banner-descripition{
    flex: 2;
}


.banner-bg{
    flex: 1;
}
.banner-bg img{
    width: 900px;
}

.about{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}