@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: white;
}
:root{
    --primary-color:rgb(0, 0, 0);
    --secund-black:#191919;

    --default-purple: #8039f1;
}

header{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding-top: 20px;
    background-color: var(--secund-black);
}
h2{
    letter-spacing: 7px;
    font-size: 30px;
}
span{
    color: var(--default-purple);
}
li{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 15px;
}
li:hover{
    background-color: var(--default-purple);
}
ul:has(li:hover) li:not(:hover){
    transition: .9s;
    opacity: .3;
    scale: .9;
}

li a{
    text-decoration: none;
}

.container{
    display: flex;
    max-width: 1440px;
    margin: 0px auto;
    padding: 22px 30px;
    justify-content: space-between;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.banner-title{
    flex: 2;
}
.banner-title h1{
    margin-top: -120px;
    font-size: 40px;
}
.banner-title h3{
    letter-spacing: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.banner-bg{
    flex: 1;
}
.banner-bg img{
    width: 900px;
}

.about{
    width: 100vw;
    padding: 100px;
    background-color: var(--primary-color);
}

.about-img{
    flex: 1;
}
.about-img img{
  border-radius: 30px;
  box-shadow: 1px 1px 35px 1px var(--default-purple);
}
.about-img img:hover{
    transition:  1s ease-in-out;
    scale: 1.05;
}

.about-description{
    flex: 1;
}
.about-description h1{
    font-size: 53px;
    letter-spacing: 3px;
}
.about-description p{
   max-width: auto;
   margin-top: 30px;
   margin-bottom:150px;
   text-align: justify;
   line-height: 40px;
}
.about-description i{
    font-weight: bold;
}

.about-description button{
    font-family: 18px;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 30px;
    color: var(--secund-black);
}